{% extends "base.html" %}
{% set SITE_ROOT = get_env(name = "SITE_ROOT", default = "") %}

{% block title %}
{{ page.title }} - {{ config.title }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ SITE_ROOT }}/css/game.css">
<script type="importmap">
{
    "imports": {
        "game": "./game.js",
        "common": "{{ SITE_ROOT | safe }}/js/common.js",
        "controller": "{{ SITE_ROOT | safe }}/js/controller.js",
        "player": "{{ SITE_ROOT | safe }}/js/player.js",
        "input/": "{{ SITE_ROOT | safe }}/js/input/",
        "view/": "{{ SITE_ROOT | safe }}/js/view/",
        "base-game": "{{ SITE_ROOT | safe }}/js/game/module.js"
    }
}
</script>
 <script type="module" src="./game.js"></script>
{% endblock head %}

{% block content %}
<div class="game">
    <div class="backdrop"></div>
    <dialog class="new-game">
        <h2>New Game</h2>
        <div class="content">
            <div class="section">
                <div class="name">Player</div>
                <div class="player"></div>
            </div>
            <div class="section">
                <div class="name">Input</div>
                <div class="input"></div>
            </div>
        </div>
        <div class="buttons">
            <button class="how-to-play">How to play?</button>
            <button class="start-game" autofocus>Start game!</button>
        </div>
    </dialog>
    <dialog class="how-to-play">
        <div>{{ page.content | safe }}</div>
        <div class="buttons">
            <button class="close" autofocus>Close</button>
        </div>
    </dialog>
    <div class="sidebar">
        <div class="header">
            <div class="left-header">
                <div class="title">Settings</div>
            </div>
            <button class="close">Close</button>
        </div>
        <div>
            Settings sjsj skls kekd sjd
        </div>
    </div>
    <div class="header">
        <div class="left-header">
            <div class="title">{{ page.title }}</div>
            <button class="new-game">New game</button>
            <button class="how-to-play">How to play?</button>
            <button onclick="window.location = '/'">Exit game</button>
        </div>
        <button class="settings">Settings</button>
    </div>
    <game-status></game-status>
    <div class="board section"></div>
</div>
{% endblock content %}